<header>
    <img class="logo" src="../../assets/image/logo.png" alt="">
    <div class="userBox">
      <div class="userData">
          <i class="material-icons">person</i>
          <p>Sandra Oliveira</p>
          <!-- <i class="material-icons">search</i> -->
          <img src="../../assets/image/setButton.png" alt="">
      </div>
      <div class="alert">
          <i class="material-icons">notification_important</i>
          <span>4</span>
      </div>
    </div>

    <div class="seletcStyle">
      <p>Visão agregada 1</p>
      <img src="../../assets/image/setButton2.png" alt="">
    </div>

    <p>Grupo Econômico: </p>
  </header>
